<div class="border border-1 rounded-1">
    <p-table #dt dir="rtl" [rows]="ManyRowsInShow" [paginator]="true" [dataKey]="dataKey" [scrollable]="true"
        [value]="dataSource" scrollDirection="both" [tableStyle]="tableStyle" [resizableColumns]="true"
        [scrollHeight]="scrollHeight" [rowsPerPageOptions]="rowsPerPageOptions" tableStyleClass="p-datatable-gridlines"
        [globalFilterFields]="globalFilterFields" [showGridlines]="true" [reorderableColumns]="true"
        [(selection)]="selectedItems" [loading]="IsLoading" [columns]="selectedColumns" [reorderableColumns]="true"
        [metaKeySelection]="singleSelectedMode" paginatorDropdownAppendTo="body">
        <ng-template #caption>
            <div class="my-1">
                <ng-content select="[header]"></ng-content>
                <ng-content select="[btn]"></ng-content>
            </div>
            <div class="flex py-1">
                <app-multiselect *ngIf="canSlectedSomeColumns" [style]="{'width': '250px'}" display="comma"
                    placeholder="اختر الأعمدة" [dataSource]="Columns" [(dataSelected)]="selectedColumns"
                    (dataSelectedChange)="editFilterWork()" optionLabel="header"
                    selectedItemsLabel="تم تحديد {0} أعمدة"></app-multiselect>
                <p-iconfield *ngIf="AllowSearch" iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input class="mx-1" pInputText type="text" (input)="globalFilter(dt,$event)" placeholder="بحث" />
                    <p-button label="" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt)" />
                </p-iconfield>
            </div>
            <ng-content select="[header-body]"></ng-content>
            <div class="my-2">
                <p-button *ngIf="AllowUpdate" label="تحديث" severity="contrast" class=" font-bold mx-1"
                    icon="pi pi-sync" (click)="onUpdate(dt)" />
                <p-button *ngIf="AllowAdd" label="اضافة" class=" font-bold mx-1" icon="pi pi-plus"
                    (click)="AddNew(dt)" />
                <p-button *ngIf="AllowSave" btn class="px-1" label="حفظ" icon="pi pi-save"
                    (click)="onSaveChanges()"></p-button>
                <p-button *ngIf="AllowDeleteSelected" label="حذف المحدد" class=" font-bold mx-1" icon="pi pi-trash"
                    (click)="DeleteSelectedData()" />
            </div>
        </ng-template>
        <ng-template #header let-columns>
            <tr>
                <th *ngIf="canReOrder" style="width: 6rem"></th>
                <th *ngIf="canSelectRow" style="width: 4rem ;text-align: center;"><p-tableHeaderCheckbox
                        *ngIf="!singleSelectedMode" /></th>
                <th *ngIf="IsHasChild" style="width: 5rem"></th>
                @for (column of columns; track $index) {
                <th class="text-center" appResizableColumn [style]="'min-width:'+column.width+'px'">
                    <div [pSortableColumn]="column.name" class="p-3 text-center" style="text-wrap: auto;">
                        <p-sortIcon [field]="column.name" />
                        {{ column.header }}
                    </div>
                </th>
                }
                <th *ngIf="AllowDelete">

                </th>
            </tr>
            <tr>
                <th *ngIf="canReOrder"></th>
                <th *ngIf="canSelectRow" style="width: 4rem"></th>
                <th *ngIf="IsHasChild" style="width: 5rem"></th>
                @for (column of columns; track $index) {
                <th class="text-center">
                    @if (column.filterType=='date') {
                    <p-columnFilter matchMode="contains" #columnFilter placeholder="البحث" [type]="column.filterType"
                        display="menu" [field]="column.name" />
                    }
                    @else if(column.filterType=='comboBox') {
                    <p-columnFilter [field]="column.name" matchMode="in" display="menu" [showMatchModes]="false"
                        [showOperator]="false" [showAddButton]="false">
                        <ng-template #header>
                            <div class="px-4 pt-4 pb-0">
                                <span class="font-bold">اختر</span>
                            </div>
                        </ng-template>
                        <ng-template #filter let-value let-filter="filterCallback">
                            <app-multiselect [style]="{'width': '250px'}" placeholder="اختر"
                                [dataSource]="column.columnComboBoxDataSource"
                                (dataSelectedChange)="filter(editFilterMultiSelectValues($event,column.columnComboBoxOptionValue))"
                                [optionLabel]="column.columnComboBoxOptionLabel"
                                selectedItemsLabel="تم تحديد {0} أعمدة"></app-multiselect>
                        </ng-template>
                    </p-columnFilter>
                    }
                    @else if(column.filterType!='none') {
                    <p-columnFilter matchMode="contains" #columnFilter placeholder="البحث" [type]="column.filterType"
                        [field]="column.name" />
                    }
                </th>
                }
                <th *ngIf="AllowDelete">

                </th>
            </tr>
        </ng-template>
        <ng-template #body let-item let-expanded="expanded" let-rowIndex="rowIndex" let-columns="columns">
            <tr [pSelectableRow]="item" [pSelectableRowDisabled]="!canSelectRow" [pSelectableRowIndex]="rowIndex"
                [pReorderableRow]="rowIndex">
                <td *ngIf="canReOrder" class="text-center" style="min-width: 4rem;">
                    <span class="pi pi-bars" pReorderableRowHandle></span>
                </td>
                <td *ngIf="canSelectRow" class="text-center" style="min-width: 4rem;">
                    <p-tableCheckbox *ngIf="!singleSelectedMode" [value]="item" />
                    <p-tableRadioButton *ngIf="singleSelectedMode" [value]="item" />
                </td>
                <td *ngIf="IsHasChild" class="text-center" style="min-width: 4rem;">
                    <p-button type="button" (onClick)="expandedRow(item,rowIndex)" pRipple [pRowToggler]="item"
                        [text]="true" [rounded]="true" [plain]="true"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                </td>
                @for (column of columns; track $index)
                {
                <td class="text-center">
                    @switch (column.columnType) {
                    @case ("lapel") {
                    {{item[column.name]}}
                    }
                    @case ("text") {
                    <input class="inputText" pInputText type="text" #text
                        (keydown)="pInputTextKeyDown($event,text,item)" [(ngModel)]="item[column.name]" />
                    }
                    @case ("yes-no") {
                    <label for="ny" class="mx-2">{{column.header}}</label>
                    <p-checkbox id="ny" [(ngModel)]="item[column.name]" [binary]="true" />
                    <!-- <p-toggleswitch [(ngModel)]="item[column.name]" /> -->
                    <!-- <p-togglebutton [(ngModel)]="item[column.name]" onLabel="نعم" offLabel="لا" styleClass="w-24" /> -->
                    }
                    @case ("dateTime") {
                        <app-DateTime [(selectedDate)]="item[column.name]"></app-DateTime>
                    }
                    @case ("number") {
                    <p-inputnumber [(ngModel)]="item[column.name]" mode="decimal" />
                    <!-- <p-datepicker [showButtonBar]="true" [(ngModel)]="item[column.name]" dateFormat="dd/mm/yy"
                        appendTo="body" [showIcon]="true" inputId="buttondisplay" [showOnFocus]="true" /> -->
                    }
                    @case ("comboBox") {
                    <app-comboBox [dataSource]="column.columnComboBoxDataSource"
                        [optionValue]="column.columnComboBoxOptionValue"
                        [placeholder]="column.columnComboBoxPlaceholder"
                        [optionLabel]="column.columnComboBoxOptionLabel"
                        (selectedChange)="column.columnComboBoxChange($event,item)"
                        [(SelectedValue)]="item[column.name]"></app-comboBox>
                    }
                    @case ("multiSelect") {
                    <app-multiselect #Multiselect [IsInGridMode]="true"
                        [dataSource]="column.columnMultiSelectDataSource" [placeholder]="column.columnMultiPlaceholder"
                        [optionLabel]="column.columnMultiOptionLabel"
                        (dataSelectedChange)="column.columnMultiSelectChange(Multiselect,item)" [item]="item"
                        [idItemKey]="dataKey" [selectIdKey]="column.columnMultiSelectselectIdKey"
                        [optionValue]="column.columnMultiSelectOptionValue"
                        [propertyBind]="column.columnMultiSelectpropertyBind"></app-multiselect>
                    }
                    @case ("custom") {
                    <ng-container [ngTemplateOutlet]="column.templateColumn"
                        [ngTemplateOutletContext]="{ $implicit:item}"></ng-container>
                    }
                    }
                </td>
                }
                <td *ngIf="AllowDelete">
                    <p-button label="حذف" icon="pi pi-trash" (click)="onDeleteItem(item)"></p-button>
                </td>
            </tr>
        </ng-template>
        <ng-template #expandedrow let-item *ngIf="IsHasChild">
            <tr>
                <th [colSpan]="colSpan" class="p-1 border border-1 bg-light">
                    <app-dataGrid #childGrid [ParentGrid]="this" [RowParent]="item"></app-dataGrid>
                </th>
            </tr>
        </ng-template>
    </p-table>
</div>