[appResizableColumn] {
    position: relative;
}

::ng-deep .no-select {
    user-select: none;
    /* منع تحديد النصوص */
    -webkit-user-select: none;
    /* لمنع تحديد النصوص في متصفحات WebKit مثل Chrome وSafari */
    -moz-user-select: none;
    /* لمنع تحديد النصوص في Firefox */
    -ms-user-select: none;
    /* لمنع تحديد النصوص في Internet Explorer */
}

::ng-deep .line {
    width: 2px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    z-index: 50;
}

::ng-deep .p-datatable-table-container {
    position: relative;
}

::ng-deep .col-resize {
    width: 20px;
    background-color: transparent;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    cursor: w-resize;
}

::ng-deep td .p-inputtext {
    width: 100%;
    border-radius: 0px;
}

::ng-deep th {
    padding: 0px !important;
}

::ng-deep td {
    padding: 15px 5px !important;
}

::ng-deep p-columnfilter p-button {
    display: none;
}

::ng-deep [display] p-button {
    display: block;
}

::ng-deep p-columnfilter p-columnfilterformelement {
    width: 100%;
}

::ng-deep p-columnfilter .p-inputtext {
    width: 100%;
    border-radius: 0px;
    border: none;
    text-align: center;
}

::ng-deep .p-button-icon,
.p-button-icon:before,
.p-button-icon:after {
    transform: rotatey(180deg);
}

::ng-deep .p-datatable-tbody>tr.p-datatable-row-selected .p-button-icon,
.p-button-icon:before,
.p-button-icon:after {
    color: grey;
    transform: rotatey(180deg);
}

::ng-deep .p-select-list-container {
    direction: rtl;
}